
    #header404 {
      text-align: left;
      font-family: "Lucida Handwriting", cursive;
      font-size: 75px;
      text-decoration: bold;
      color: white;
      background-color: #ff3191;
    }

    p {
      font-family: "Arial", sans-serif;
      font-size: 20px;

    }

    #roseImg {
      max-width: auto;
      height: 90%;
      position: center;
    }

 