h1 {
    text-align: center;
    font-family: "Lucida Calligraphy", cursive;
    font-size: 100px;
    text-decoration: bold;
    color: white;
    background-color: #b6ff9f;

}

p {
    font-family: "Arial", sans-serif;

}
